# Lab 02 - Pandas. Nicholas Fong, worked with Salma Abdelmagid

In [2]:
import os
import pandas as pd

df = pd.read_csv(os.path.join('..', 'ozone.csv'))  #I changed the input since my ozone.csv file isn't in a datasets folder

## 0. Display the dataset's head

In [3]:
#df[:0]  #For some reason df requires the : thing inside the brackets to get that row, probably because it isn't an array
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## 1. Print the column names of the dataset to the screen, one column name per line

In [3]:
for columns in df[:0]:
    print columns

Ozone
Solar.R
Wind
Temp
Month
Day

## 2. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [4]:
df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

## 3. How many observations (i.e., rows) are in this data frame?

In [5]:
len(df)

153

## 4. Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [6]:
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

## 5. What is the value of Ozone in the 47th row?

In [7]:
df['Ozone'][46]  #Use 46 since it starts counting at index 0

21.0

## 6. How many missing values are in the Ozone column of this data frame?

In [8]:
df['Ozone'].isnull().sum()  #isnull() is True if an entry is missing and False if there is data, 
                            #and then sum() counts the number of Trues, thus giving the number of missing values

37

## 7. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

In [9]:
df['Ozone'].sum()/df['Ozone'].count() #.count() only counts real valued data so it naturally excludes missing values

42.12931034482759

## 8. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

In [10]:
highOzone = df['Ozone'] > 31
highTemp = df['Temp'] > 90
print df[highOzone & highTemp]
print df[highOzone & highTemp]['Solar.R'].mean() #Could also use .sum() / .count()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
212.8

## 9. What is the mean of Temp when Month is equal to 6?

In [11]:
df[df['Month'] == 6]['Temp'].mean()

79.1

## 10. What was the maximum Ozone value in the month of May (i.e. Month = 5)?

In [12]:
df[df['Month'] == 5]['Ozone'].max()

115.0